# Binaries
main
testserver
website-assistant

# Logs
*.log
logs/*
!logs/.keep

# Artifacts
screenshots/*
!screenshots/.keep
*.gif
*.png
!docs/*.png

# Dependencies
vendor/

# User specific
.env
.idea/
.vscode/

#
.commit.txt
node_modules/
riptide
